# Pasta de compilação e arquivos objetos
build/

# Executável
programa

# Ignorar apenas arquivos .json dentro da pasta data
data/*.json

# Arquivos temporários de editor (opcional)
*.swp
*.swo
*.tmp

# Arquivos de persistência de dados
fila_espera.json
pacientes.json