# Pasta de compilação e arquivos objetos
build/

# Pasta de dados persistidos
data/

# Executável
programa

# Arquivos temporários de editor (opcional)
*.swp
*.swo
*.tmp

# Arquivos de persistência de dados (caso apareçam fora da pasta data)
pacientes.bin
fila.bin
